<h1>Josh's Journal App</h1>
<div class="journal-app container">
  <div class="row">
    <aside class="index-container col-md-2"></aside>
    <div class="post-container col-md-8"></div>
  </div>
</div>
